# Keycloak admin credentials
KC_BOOTSTRAP_ADMIN_USERNAME=admin
KC_BOOTSTRAP_ADMIN_PASSWORD=admin

# App
client_id=firebuster-api
server_url=http://keycloak:8080
realm=Firebuster

# Database
DB_URL=jdbc:postgresql://postgres:5432/postgres
DB_NAME=postgres
DB_USERNAME=postgres
DB_PASSWORD=admin

# Database url for SQL Alchemy
DATABASE_URL=postgresql+psycopg2:postgresql://postgres:admin@postgres:5432/postgres
