name: ci
on: 
  push:
    branches: [main]
  pull_request:

jobs:
  ci:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
      
      - name: install-uv
        uses: astral-sh/setup-uv@v7
        with:
          #specific version of uv
          version: "0.10.2"
          
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version-file: ".python-version"
          
      - name: Install the project
        run: uv sync --locked --all-extras --dev

      - name: Run tests
        run: uv run python -m unittest discover -s tests
